.App {
  position: relative;
}

.startmenu {
  position: absolute;
  height: 100%;
  width: 100%;
  z-index: 99;
  background-color: rgba(15, 49, 38, 0.527);
  display: flex;
  justify-content: center;
  align-items: center;
}

.startmenu button {
  font-size: 5rem;
  background-color: rgb(14, 10, 39);
  color: #fff;
  padding: 1rem;
  border: none;
}

.startmenu button:hover {
  cursor: pointer;
}

img {
  width: 100%;
}

.targetbox {
  position: absolute;
  z-index: 9;
  background-color: rgba(127, 255, 212, 0.603);
}

/* .targetbox1 {
  height: 6.3%;
  width: 2%;
  background-color: rgba(127, 255, 212, 0.603);
  position: absolute;

  margin: 27.5% 75%;
  z-index: 999;
}

.targetbox2 {
  height: 6%;
  width: 3%;
  background-color: rgba(127, 255, 212, 0.603);
  position: absolute;

  margin: 28% 11.5%;
  z-index: 999;
}

.targetbox3 {
  height: 4%;
  width: 3%;
  background-color: rgba(127, 255, 212, 0.603);
  position: absolute;

  margin: 65% 62%;
  z-index: 999;
} */
nav {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: rgba(14, 10, 39, 0.932);
  color: #fff;
  position: sticky;
  top: 0;
  left: 0;
  z-index: 999;
}

nav img {
  height: 50px;
  width: 50px;
  aspect-ratio: 3/2;
}

.character-images {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  gap: 2rem;
}

.char-select {
  position: absolute;
  background-color: rgba(25, 49, 73, 0.753);
  display: flex;
  flex-direction: column;
  padding: 0.5rem;
  color: #fff;
  border-radius: 5px;

  /* display: none; */
}

.hidden {
  opacity: 0;
  z-index: 0;
}

.score-input {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
}

.score-input h1 {
  color: #fff;
  font-size: 4rem;
}

.score-input input {
  font-size: 2rem;
  border: none;
  padding: 0.2rem 0.5rem;
}
