.App {
  position: relative;
}

img {
  width: 100%;
}

.targetbox1 {
  height: 6.3%;
  width: 2%;
  background-color: rgba(127, 255, 212, 0.603);
  position: absolute;
  /* top: 240px;
  left: 370px; */
  /* transform: translateX(-50%); */
  margin: 27.5% 75%;
  z-index: 999;
}

.targetbox2 {
  height: 6%;
  width: 3%;
  background-color: rgba(127, 255, 212, 0.603);
  position: absolute;
  /* top: 240px;
  left: 370px; */
  /* transform: translateX(-50%); */
  margin: 28% 11.5%;
  z-index: 999;
}

.targetbox3 {
  height: 4%;
  width: 3%;
  background-color: rgba(127, 255, 212, 0.603);
  position: absolute;
  /* top: 240px;
  left: 370px; */
  /* transform: translateX(-50%); */
  margin: 65% 62%;
  z-index: 999;
}
