.App {
  position: relative;
}

img {
  width: 100%;
}

.targetbox {
  position: absolute;
  z-index: 9;
  background-color: rgba(127, 255, 212, 0.603);
}

/* .targetbox1 {
  height: 6.3%;
  width: 2%;
  background-color: rgba(127, 255, 212, 0.603);
  position: absolute;

  margin: 27.5% 75%;
  z-index: 999;
}

.targetbox2 {
  height: 6%;
  width: 3%;
  background-color: rgba(127, 255, 212, 0.603);
  position: absolute;

  margin: 28% 11.5%;
  z-index: 999;
}

.targetbox3 {
  height: 4%;
  width: 3%;
  background-color: rgba(127, 255, 212, 0.603);
  position: absolute;

  margin: 65% 62%;
  z-index: 999;
} */
nav {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: rgba(14, 10, 39, 0.932);
  color: #fff;
  position: sticky;
  top: 0;
  left: 0;
}

nav img {
  height: 50px;
  width: 50px;
  aspect-ratio: 3/2;
}

.character-images {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  gap: 2rem;
}

.char-select {
  position: absolute;
  background-color: lightslategray;
  display: flex;
  flex-direction: column;
  /* display: none; */
}

.hidden {
  display: none;
}
